<ion-header [translucent]="true">
  <ion-toolbar color="greenjek">
    <ion-title>
      component
    </ion-title>


    <ion-searchbar color="ser"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-segment value="Select">
    <ion-segment-button value="all">
      <ion-label>Select</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Toggle">
      <ion-label>Toggle</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Select fruit">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-toggle [enableOnOffLabels]="true">Enable Notifications</ion-toggle>

  <ion-button expand="block" (click)="presentToast('bottom')">Present Toast At the Bottom</ion-button>
</ion-content>












<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="gprolx">
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="gproll">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="bai">
      <ion-icon name="leaf-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dow">
      <ion-icon name="star-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
